.perfil{
    width: 3rem;
    height: 3rem;
    border: gray solid 1px;
    border-radius: 50%;

}

.index2{
    display: flex;
    position: absolute;
    margin-right: 10em;
}

@media screen {
    
}

@media screen and (min-width:768px){
    .index2{
        
        margin-left: 10em;
    }
}